<%
    var rootBase = _this && _this.rootBase || '';
%>
        <script src="<%= rootBase %>/dep/jquery-1.11.3.min.js"></script>
        <script src="<%= rootBase %>/dep/bootstrap3/bootstrap.js"></script>
        <script src="<%= rootBase %>/dep/Simplite.js"></script>
        <%
            if (_this && _this.scripts) {
                for (var i = 0, len = _this.scripts.length; i < len; i++) {
        %>
                    <script src="<%= _this.scripts[i] %>"></script>
        <%
                }
            }
        %>
        <script src="<%= rootBase %>/dep/require.js"></script>
        <script>
            window.rootBase = '<%= rootBase %>';
            requirejs.config({
                baseUrl: '<%= rootBase %>/src',
                paths: {
                    tpl: 'common/tpl',
                    dep: '../dep'
                }
            });
            require(['main']);
        </script>
    </body>
</html>