        <script src="/dep/jquery-1.11.3.min.js"></script>
        <script src="/dep/bootstrap3/bootstrap.js"></script>
        <script src="/dep/Simplite.js"></script>
        <%
            if (_this && _this.scripts) {
                for (var i = 0, len = _this.scripts.length; i < len; i++) {
        %>
                    <script src="<%= _this.scripts[i] %>"></script>
        <%
                }
            }
        %>
        <script src="/dep/require.js"></script>
        <script>
            requirejs.config({
                baseUrl: '/src',
                paths: {
                    tpl: 'common/tpl'
                }
            });
            require(['main']);
        </script>
    </body>
</html>