<div class="base-nav" data-module-path="base-nav">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/task/add">
                <span class="glyphicon glyphicon-edit"></span>
                新建任务
            </a>
        </li>
        <li role="presentation">
            <a data-href="<%= _this.rootBase %>/task/list">
                <span class="glyphicon glyphicon-th-list"></span>
                任务列表
            </a>
        </li>
    </ul>
</div>