<div class="base-nav" data-module-path="base-nav">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
            <a data-href="{{ _this.rootBase }}/product/list">
                <span class="glyphicon glyphicon-list-alt"></span>
                业务线管理
            </a>
        </li>
        <li role="presentation">
            <a data-href="{{ _this.rootBase }}/task/list">
                <span class="glyphicon glyphicon-random"></span>
                任务管理
            </a>
        </li>
        <li role="presentation">
            <a data-href="{{ _this.rootBase }}/web/pagelist">
                <span class="glyphicon glyphicon-random"></span>
                最新代码结构Demo
            </a>
        </li>
    </ul>
</div>