<%
    include('common/header.html', {
        links: [
            _this.rootBase + '/css/task-add.less',
            _this.rootBase + '/dep/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        ]
    });
%>

<div class="base-container" data-module-path="task-add/main">
    <div data-module-path="task-add/task-add"></div>

</div>

<%
    include('common/nav.html');
%>

<%
    include('common/footer.html', {
        scripts: [
            _this.rootBase + '/dep/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js',
            _this.rootBase + '/dep/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js'
        ]
    });
%>